Source: jazzhands-zonegen-server
Section: unknown
Priority: extra
Maintainer: JazzHands Project <release@jazzhands.net>
Build-Depends: debhelper (>= 9.0.0), perl-modules,
Depends: perl, jazzhands-perl-common >= 0.96.0, perl-JazzHands-DBI, perl-Net-IP, bind, jq, libnjson-perl
Recommends: libjson-xs-perl | libjson-pp-perl
Standards-Version: 4.6.2
Homepage: http://www.jazzhands.net/

Package: jazzhands-zonegen-server
Architecture: all
Description:
 Generates zone and configuration from JazzHands database

