Source: python-jazzhands-appauthal
Section: unknown
Priority: extra
Maintainer: JazzHands Project <release@jazzhands.net>
Build-Depends: debhelper (>= 9.0.0), python-all, python-setuptools, python3-all, python3-setuptools, dh-python
Standards-Version: 3.9.4
Homepage: http://www.jazzhands.net/

Package: python-jazzhands-appauthal
Architecture: any
Description: 
 python appauthal interface
