Source: jazzhands-perl-common
Section: unknown
Priority: extra
Maintainer: JazzHands Project <release@jazzhands.net>
Build-Depends: debhelper (>= 9.0.0), perl-modules
Standards-Version: 4.6.2
Homepage: http://www.jazzhands.net/

Package: jazzhands-perl-common
Architecture: all
Description: 
 Common perl modules used throughout jazzhands
