Source: jazzhands-perl-tickets
Section: unknown
Priority: extra
Maintainer: JazzHands Project <release@jazzhands.net>
Build-Depends: debhelper (>= 9.0.0), perl-modules
Standards-Version: 4.6.2
Homepage: http://www.jazzhands.net/

Package: jazzhands-perl-tickets
Section: unknown
Architecture: all
Depends: libjson-perl, libwww-perl, liburi-perl, libdatetime-format-strptime-perl, perl-jazzhands-dbi (>= 0.96.0)
Description: 
 DBI shim for JazzHands to support database authentication abstraction
