Source: jazzhands-mkpasswdfiles
Section: unknown
Priority: extra
Maintainer: JazzHands Project <release@jazzhands.net>
Build-Depends: debhelper (>= 8.0.0), perl-modules
Standards-Version: 3.9.4
Homepage: http://www.jazzhands.net/

Package: jazzhands-mkpasswdfiles
Depends: jazzhands-perl-common (>= 0.73.2), perl-jazzhands-dbi (>= 0.84.3)
Architecture: any
Description: 
 Generates unix credentials
