Source: jazzhands-dbsyncer
Section: unknown
Priority: extra
Maintainer: JazzHands Project <release@jazzhands.net>
Build-Depends: debhelper (>= 9.0.0)
Standards-Version: 4.6.2
Homepage: http://www.jazzhands.net/

Package: jazzhands-dbsyncer
Architecture: all
Depends: jazzhands-perl-common (>= 0.96.0), perl-jazzhands-dbi (>= 0.96.0)
Description: 
 Database Synchronization Software
