Source: jazzhands-dhcpgen
Section: System/Management
Priority: optional
Maintainer: Matthew Ragan <mdr@sucksless.net>
Build-Depends: debhelper (>= 9.0.0), base-files (>= 12ubuntu4) | dh-systemd (>= 1.5)
Standards-Version: 4.6.2

Package: jazzhands-dhcpgen
Architecture: all
Depends: libdbd-pg-perl, postgresql-client, jazzhands-perl-common (>= 0.96.0), perl-jazzhands-dbi (>= 0.96.0), perl-jazzhands-appauthal (>= 0.96.0), libdbi-perl, libnet-stomp-perl, liblog-log4perl-perl, libnetaddr-ip-perl
Description: JazzHands configuration generation for ISC dhcpd
