Source: jazzhands-stab
Section: unknown
Priority: extra
Maintainer: JazzHands Project <release@jazzhands.net>
Build-Depends: debhelper (>= 8.0.0), perl-modules
Standards-Version: 3.9.4
Homepage: http://www.jazzhands.net/

Package: jazzhands-perl-stab
Architecture: any
Pre-Depends: libnet-ip-perl, libnet-dns-perl, libnetaddr-ip-perl, libcgi-pm-perl, libnet-netmask-perl, perl-jazzhands-dbi ( >= 0.86.0 )
Description: 
 Perl libraries for STAB

Package: jazzhands-stab
Architecture: any
Pre-Depends: jazzhands-perl-mgmt (>= 0.79.0), jazzhands-perl-common (>= 0.86.0), jazzhands-perl-stab (=${binary:Version}), jazzhands-javascript-common  (>= 0.95.9)
Description: 
 JazzHands STAB Web Front End
