Source: jazzhands-stab
Section: unknown
Priority: extra
Maintainer: JazzHands Project <release@jazzhands.net>
Build-Depends: debhelper (>= 9.0.0), perl-modules
Standards-Version: 4.6.2
Homepage: http://www.jazzhands.net/

Package: jazzhands-perl-stab
Architecture: all
Depends: libnet-ip-perl, libnet-dns-perl, libnetaddr-ip-perl, libcgi-pm-perl, libnet-netmask-perl, perl-jazzhands-dbi ( >= 0.96.0 )
Description: 
 Perl libraries for STAB

Package: jazzhands-stab
Architecture: all
Depends: jazzhands-perl-mgmt (>= 0.96.0), jazzhands-perl-common (>= 0.96.0), jazzhands-perl-stab (=${binary:Version}), jazzhands-javascript-common  (>= 0.98.0)
Description: 
 JazzHands STAB Web Front End
