#!/usr/bin/make -f

include /usr/share/dpkg/default.mk

%:
	dh $@

override_dh_auto_install:
	$(MAKE) -f Makefile.jazzhands DESTDIR=$$(pwd)/debian/php-jazzhands-appauthal PREFIX=/usr/share/php install
