#!/usr/bin/make -f
# -*- makefile -*-
# Uncomment this to turn on verbose mode.
# export DH_VERBOSE=1

%:
	dh $@

# this requires Net::LDAP and JazzHands::AppAuthAL which is less readliy
# available, so skipping tests in package building...
override_dh_auto_test:
