Source: perl-jazzhands-dbi
Section: unknown
Priority: extra
Maintainer: JazzHands Project <release@jazzhands.net>
Build-Depends: debhelper (>= 8.0.0), perl-modules
Standards-Version: 3.9.4
Homepage: http://www.jazzhands.net/

Package: perl-jazzhands-dbi
Section: unknown
Architecture: any
Pre-Depends: libdbi-perl, jazzhands-perl-common (>=0.95.0), perl-jazzhands-appauthal (>=0.94.0)
Description: 
 DBI shim for JazzHands to support database authentication abstraction
