Source: jazzhands-sync-prefix-lists
Section: System/Management
Priority: optional
Maintainer: Matthew Ragan <mdr@sucksless.net>
Build-Depends: debhelper (>= 9.0.0)
Standards-Version: 4.6.2

Package: jazzhands-sync-prefix-lists
Architecture: all
Depends: ${perl:Depends}, libdbd-pg-perl, postgresql-client (>= 12), jazzhands-perl-common (>= 0.96.0), perl-jazzhands-dbi (>= 0.96.0), perl-jazzhands-appauthal (>= 0.96.0), libdbi-perl, libnetaddr-ip-perl, jazzhands-perl-netdev-mgmt
Description: JazzHands management of network device prefix-list
