Source: jazzhands-perl-mgmt
Section: unknown
Priority: extra
Maintainer: JazzHands Project <release@jazzhands.net>
Build-Depends: debhelper (>= 9.0.0), perl-modules
Standards-Version: 4.6.2
Homepage: http://www.jazzhands.net/

Package: jazzhands-perl-mgmt
Section: unknown
Architecture: all
Depends: jazzhands-perl-common ( >= 0.96.0) , perl-jazzhands-dbi ( >= 0.96.0) , libnetaddr-ip-perl
Description: 
 ORM for perl for JazzHands. (to be deprecated)

